/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    
   
  
    background-color: #FFFFFF;
}

.header{
    padding: 20px 0;
}
/* Nav-bar */
.navbar {
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: #333; /* Update with your preferred background color */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 0%;
    z-index: 1000;
    margin-top: 0%;
    padding-top: 0;
    
    
}

/* Logo */
.logo {
    position: absolute;
    width: 20%;
    left: 15%;
    top: 0%;
    bottom: 0%;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Menu-items */
.menu-items {
    
        position: absolute;
        width: 50.83%;   /* Adjusted to percentage based on container width */
        height: 4.67%;   /* Adjusted to percentage based on container height */
        left: 30%;
        top: 60%;
        margin-left: auto;
    
    
}

/* Home, About, Projects, Contacts */
.menu-items a {
    margin-left: 7%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    text-decoration: none; /* Remove default underline */
}

.home {
    left: 41%;
    right: 47%;
    top: 50%;
    bottom: 9%;
}

.about {
    /* About-me */


    left: 56%;
    right: 31%;
    top: 51%;
    bottom: 9%;
    

}

.projects {
    left: 70%;
    right: 16%;
    top: 50%;
    bottom: 9%;
}

.contacts {
    left: 87%;
    right: 0%;
    top: 50%;
    bottom: 10%;
}

h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px; /* Adjust the font size as needed */
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF; /* Set a different text color, e.g., white */
    margin-top: 100px; /* Add margin top to separate from navbar */
}
